.page-header {
    background-color: #660066;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans';
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.panel-rack-healthy {
    background: #339933; color: #fff;
}

.panel-rack-alarm {
    background: #ff6600; color: #fff;
}

.panel-rack-error {
    background: #cc0000; color: #fff;
}

.panel-rack-healthy-unselected {
    background: #c6ecc6; color: #fff;
}

.panel-rack-alarm-unselected {
    background: #ffe0cc; color: #fff;
}

.panel-rack-error-unselected {
    background: #ffcccc; color: #fff;
}

.component-span{
    width:18px;
}

.verticaltext {
    transform: rotate(-90deg);
    position: absolute;
    top: 10%;
    left: 0;
    horiz-align: left;
}

