{% extends 'monitoring/base.html' %}

{% block content %}
    <h1>Email Settings</h1>
    <div class="col-lg-4">
    <form method="POST" class="email-form">{% csrf_token %}
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"> <strong>Host:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.host }}</div>
        </div>
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"> <strong>Port:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.port }}</div>
        </div>
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"><strong>User:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.user }}</div>
        </div>
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"><strong>Password:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.password }}</div>
        </div>
        <div class="row row-eq-height-xs">
            <div class="col-xs-4"><strong>Use tls:</strong></div>
            <div class="col-xs-8 pull-right">{{ form.use_tls }}</div>
        </div>
        <button type="submit" class="send btn btn-primary pull-right">Save</button>
    </form>
    </div>
{% endblock %}