<div class="rack-layout">
{% load utilities %}
    {% for i in max_rows|get_range %}
        <div class="row row-eq-height-xs">
            <!-- find components in this row -->
            {% for component in components %}
                {% if component.row == i %}

                    <a href="{% url 'rack' rack_number=rack.component_id component_type=component.component_type component_id=component.component_id %}">
                    {% if component.component_type == selected_comp_type and component.component_id == selected_comp_id or component.component_type == selected_comp_type and selected_comp_id == None or selected_comp_type == None %}

                        {% include 'monitoring/component_colour.html' with component=component unselected="" %}

                    {% else %}

                        {% include 'monitoring/component_colour.html' with component=component unselected="-unselected" %}

                    {% endif %}

                        {% if component.component_type == "tile" %}
                            <div class="verticaltext">
                        {% endif %}
                        {{ component.component_type }}{{ component.component_id }}
                        {% if component.component_type == "tile" %}
                            </div>
                        {% endif %}

                        <div class="panel-body">
                        {% for j in component.height|add:"-1"|get_range %}
                            </br>
                        {% endfor %}
                        </div>
                    </div>
                    </a>

                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>